<div class="wide">
  <div class="catname">
    <div class="row"><div class="bar blue-bg"></div><h1>Website Development</h1></div>
  </div>
  <div class="featured">
    <strong>Featured</strong>
    <div class="banner row sha1">
      <div class="l">
        <img src="/assets/images/demo/featured.jpg" alt="">
      </div>
      <div class="r col">
        <h2>The Complete Guide - Zero to Hero in Business analysis</h2>
        <small>By Amithabh kanth</small>
        <strong><small>4 Hrs &nbsp; | &nbsp; 2 Lectures</small></strong>
        <p>Become a Salesforce Developer by learning Apex Programming. Learn about Integration, REST webservices, Testing framework</p>
        <div class="flex-grow"></div>
        <div class="row">
          <div class="btn blue-bg">Enroll Now</div>
          <div class="flex-grow"></div>
          <strong>Rs 7,999</strong>
        </div>
        <div class="like">
          <img src="/assets/icons/utility/heart.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="popular">
    <strong>Popular Courses</strong>
    <div class="items row">
      <div class="item sha1" *ngFor="let i of [1,1,1,1]">
        <app-course></app-course>
      </div>
    </div>
  </div>
</div>
