.catname {
  margin-bottom: 40px;
  .bar {
    width: 4px;
    margin-right: 20px;
  }
  h4 {
    margin: 0;
  }
}

.featured {
  margin-bottom: 40px;
  .banner {
    margin-top: 15px;
    padding: 10px 15px;
    .l {
      .image {
        position: relative;
        min-width: 30vw;
        padding-top: 56.25%;
        .img{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-size: cover !important;
          background-position: center;
          background-repeat: no-repeat;
          box-shadow: 0px 2px 4px -2px #333;
        }
      }
    }
    .r {
      padding-left: 20px;
      position: relative;
      .title {
        margin: 0;
        font-size: 18px;
        color: #0052cc;
        font-weight: 700;
        word-wrap: break-word !important;
        width: 100%;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;
      }
      .row {
        align-items: flex-end;
        margin-bottom: 5px;
        .btn {
          color: white;
        }
        strong {
          color: #45AAB5;
          font-size: 18px;
        }
      }
    }
  }
}

.popular {
  margin-bottom: 60px;
  .items {
    margin-top: 15px;
    flex-wrap: wrap;
    .item {
      width: 24.2%;
      margin-bottom: 1%;
      margin-right: 0.8%;
    }
  }
}





/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .catname {
    h1 {
      margin: 0;
      font-size: 24px;
    }
  }

  .featured {
    .banner {
      padding: 10px;
      flex-direction: column;
      .l {
        img {
          height: auto;
          width: 100%;
        }
        margin-bottom: 10px;
      }
      .r {
        padding-left: 0;
        h2 {
          font-size: 16px;
          color: #0052cc;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .popular {
    margin-bottom: 60px;
    .items {
      margin-top: 15px;
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
