.tag {
  background-color: #0052cc;
  color: white;
  font-weight: 500;
  padding: 2px 10px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.image {
  position: relative;
  padding-top: 40%;
  margin-bottom: 5px;
  .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    background-size: cover !important;
    background-position: center;
  }
}
.head {
  margin-top: 30px;
  font-weight: 600;
}
.time {
  margin-top: 0;
  color: #333;
  margin-bottom: 60px;
}

.htmlContent {
  color: #222;
  margin-bottom: 100px;
  max-width: 100%;
  overflow: hidden;
}
