<div class="wide col">
  <div class="image" [class.animated-background]="!data">
    <div
      class="img"
      *ngIf="data"
      [style.background]="'url(' + data.image + ')'"
    ></div>
  </div>
  <h1 class="head" *ngIf="data">
    {{ data.title }}
  </h1>
  <div class="row">
    <div class="tag">
      Teachup Blog
    </div>
  </div>
  <p *ngIf="data" class="time">
    Last Updated - {{ getDate(data) | date: "mediumDate" }}
  </p>
  <div *ngIf="data" class="htmlContent" [innerHTML]="data.content"></div>
</div>
