<div class="col loader wide" *ngIf="!pageLoaded">
  <img src="/assets/icons/utility/spinner.png" alt="" class="spin" />
</div>

<div class="ctr" *ngIf="pageLoaded">
  <div class="wide">
    <div class="main row" *ngIf="!user">
      <div class="l col">
        <h1>Bringing top instructors at your doorstep</h1>
        <p>
          Explore our top online courses and live lectures taught by expert
          instructors.
        </p>
        <a href="/courses" class="btn blue-bg">Explore courses</a>
      </div>
      <div class="r col">
        <img src="/assets/images/home/main.jpg" alt="" />
      </div>
    </div>

    <div class="cta col" *ngIf="!user">
      <h2>
        Register now and get <span class="blue">40% off</span> on your first
        course.
      </h2>
      <div class="row">
        <input type="text" placeholder="Your Email" />
        <button class="btn blue-bg">Sign Up</button>
      </div>
    </div>

    <div class="video row" *ngIf="!user">
      <div class="l f3 col">
        <img src="{{ options.poster }}" alt="" />
        <!-- <video style="display: none;"
          #mainVideo
          class="video-js vjs-default-skin vjs-big-play-centered"
          controls muted playsinline preload="auto"
        >
        </video> -->
      </div>
      <div class="r f2 col">
        <div class="item row">
          <img src="/assets/icons/features/1.png" alt="" />
          <div class="txt col">
            <h6>Certification Courses</h6>
            <p>Online certification courses taught by expert instructors.</p>
          </div>
        </div>

        <div class="item row">
          <img src="/assets/icons/features/2.png" alt="" />
          <div class="txt col">
            <h6>Live Q&A</h6>
            <p>Get live answers to all your doubts instantly.</p>
          </div>
        </div>

        <div class="item row">
          <img src="/assets/icons/features/3.png" alt="" />
          <div class="txt col">
            <h6>Expert Instructors</h6>
            <p>Courses taught by industry leading subject matter experts.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- signedin views -->
    <div
      class="bannerImg col"
      [style.background]="'url(/assets/images/home/bg1.jpg)'"
      *ngIf="user"
    >
      <div class="cont col">
        <h1>Bringing top instructors at your doorstep</h1>
        <p>It’s your journey. Keep going with courses as low as ₹1900</p>
      </div>
    </div>

    <div class="next" *ngIf="user">
      <h2 class="dark">What to learn next</h2>
      <h3 class="dark">Topics Recommended for you</h3>
      <div class="topics row">
        <a
          [routerLink]="['/courses', 'category', i.id]"
          class="topic blue col"
          *ngFor="let i of categories"
          ><span>{{ i.name }}</span></a
        >
      </div>
    </div>

    <div class="popular">
      <div class="head blue">Popular Courses</div>
      <div class="items row" *ngIf="!static">
        <div class="itm" *ngFor="let i of courses">
          <app-course [data]="i"></app-course>
        </div>
      </div>
      <div class="col static" *ngIf="static">
        <img src="/assets/images/home/courses.png" alt="" />
        <p>Upcoming courses will appear here</p>
      </div>
    </div>

    <!-- <div class="popular" style="margin-top: 40px;">
      <div class="head blue">Editors Pick</div>
      <div class="items row">
        <div class="itm" *ngFor="let i of dummy"><app-course></app-course></div>
      </div>
    </div> -->

    <div class="updates" *ngIf="!static">
      <div class="head blue"><strong>Latest Updates</strong></div>
      <div class="items row">
        <div class="item" *ngFor="let i of blogs">
          <app-updates [data]="i"></app-updates>
        </div>
      </div>
    </div>

    <div class="banner col">
      <div class="content">
        <h2>Join millions of learners online and enhance your skills.</h2>
      </div>
    </div>

    <div class="cta2 col" *ngIf="!user">
      <h2>Register now and get 40% off on your first course</h2>
      <div class="btns">
        <a href="/auth/signup" class="btn blue-bg">Register Now</a>
        <a href="/courses" class="btn blue-ot">Explore Courses</a>
      </div>
    </div>

    <div class="instructors col" *ngIf="instructors.length > 0">
      <h3 class="dark head">Meet Our Instructors</h3>
      <div class="slider">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div ngxSlickItem *ngFor="let i of instructors" class="slide col">
            <div class="ct col">
              <div
                class="img"
                [ngStyle]="{
                  background: i.user.photoURL
                    ? 'url(' + i.user.photoURL + ')'
                    : '#eee'
                }"
              ></div>
              <a
                [routerLink]="['/profile', 'instructor', i.id]"
                class="blue name"
                >{{ i.user.displayName }}</a
              >
              <small class="dark des"
                >{{ i.about }} <span *ngIf="!i.about">..</span>
              </small>
              <div class="row social">
                <a
                  href="{{ i.fbProfile }}"
                  *ngIf="i.fbProfile !== null"
                  target="_blank"
                >
                  <img src="/assets/icons/social/fb.png" alt="" />
                </a>
                <a
                  href="{{ i.instaProfile }}"
                  *ngIf="i.instaProfile !== null"
                  target="_blank"
                >
                  <img src="/assets/icons/social/insta.png" alt="" />
                </a>
                <a
                  href="{{ i.linkedinProfile }}"
                  *ngIf="i.linkedinProfile !== null"
                  target="_blank"
                >
                  <img src="/assets/icons/social/linkedin.png" alt="" />
                </a>
                <a
                  href="{{ i.twitterProfile }}"
                  *ngIf="i.twitterProfile !== null"
                  target="_blank"
                >
                  <img src="/assets/icons/social/twitter.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
