<div class="wide col">
  <div class="nav row">
    <h1 class="blue">Teachup.io</h1>
    <div class="flex-grow"></div>
    <button class="btn" (click)="logout()">Logout</button>
  </div>
  <div class="row card">
    <div class="f5 col l">
      <h2>
        Welcome <span class="blue" *ngIf="user">{{ user.email }}</span>
      </h2>
      <h3>Please update the following details to access your account</h3>
    </div>
    <div class="f2 col r">
      <form
        action=""
        class="col"
        [formGroup]="UserForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="formItem col">
          <label for="fname" class="blue"><strong>First name</strong></label>
          <input
            [class.error]="UserFormControl.fName.errors && submitted"
            type="text"
            formControlName="fName"
          />
        </div>
        <div class="formItem col">
          <label for="lname" class="blue"><strong>Last name</strong></label>
          <input
            [class.error]="UserFormControl.lName.errors && submitted"
            type="text"
            formControlName="lName"
          />
        </div>
        <div class="row">
          <div class="flex-grow"></div>
          <button type="submit" class="btn blue-bg" *ngIf="!loading && user">
            Continue
          </button>
          <img
            *ngIf="loading || !user"
            class="spin"
            src="/assets/icons/utility/spinner.png"
            alt=""
          />
        </div>
      </form>
    </div>
  </div>
</div>
