.ctrr {
  border-radius: 5px;
  overflow: hidden;
  .image {
    position: relative;
    padding-top: 56.3%;
    border-bottom: 2px solid #0052cc;
    .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      background-position: center;
    }
    .overlay {
      z-index: 10;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 8%,
        rgba(0, 0, 0, 0.2984944319524685) 77%,
        rgba(0, 0, 0, 0.5598389697675946) 100%
      );
    }
  }
  .info {
    padding: 5px 10px;
    .title {
      font-size: 13px;
      margin: 0;
      font-weight: 600;
      word-wrap: break-word;
      color: #333;
      width: max-content;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap;
      &:hover {
        color: #0052cc;
      }
    }
    .author {
      font-size: 12px;
    }
    .price {
      color: #45aaa1;
      margin-top: 10px;
      font-size: 13px;
    }
    .time {
      font-size: 12px;
    }
    .btn {
      color: white;
      width: max-content;
      margin: 10px 0;
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}
