<div class="wide">
  <div class="top row">
    <div class="bar blue-bg"></div>
    <h2>My Courses</h2>
  </div>
  <div class="notCourses col" *ngIf="items.length === 0">
    <img src="/assets/images/user/course.png" alt="" />
    <strong>Your enrolled courses will appear here</strong>
  </div>

  <div class="cont row" *ngIf="items.length > 0">
    <div class="item row" *ngFor="let i of items">
      <div class="img">
        <img [src]="i.image" alt="" />
      </div>
      <div class="ct">
        <h4>{{ i.title }}</h4>
        <small class="blue athr">By {{ i.author.user.displayName }}</small>
        <p class="time">Starts: {{ i.startDate | date: "mediumDate" }}</p>
        <div
          class="details blue"
          [routerLink]="['/user', 'courses', 'details', i.id]"
        >
          View Details
        </div>
      </div>
    </div>
  </div>
</div>
