<div class="wide">
  <div class="top row">
    <div class="bar blue-bg"></div>
    <h2>My Courses</h2>
  </div>
  <div class="notCourses col" *ngIf="items.length === 0">
    <img src="/assets/images/user/course.png" alt="" />
    <strong>Your enrolled courses will appear here</strong>
  </div>

  <div class="cont row" *ngIf="items.length > 0">
    <a
      class="item row"
      [routerLink]="['/courses', 'course', i.id]"
      *ngFor="let i of items"
    >
      <div class="img">
        <img [src]="i.image" alt="" />
      </div>
      <div class="ct">
        <h4 class="blue">{{ i.title }}</h4>
        <small class="blue athr">By {{ i.author.user.displayName }}</small>
        <p class="time">Starts: {{ i.startDate | date: "mediumDate" }}</p>
        <span class="highlightGreen" style="font-weight: 600"
          >View Details</span
        >
      </div>
    </a>
  </div>
</div>
