.top {
  margin-bottom: 40px;
  .bar {
    width: 4px;
    margin-right: 15px;
  }
  h2 {
    margin: 0;
  }
}

.notCourses {
  align-items: center;
  padding: 50px 0;
  margin-bottom: 300px;
  strong {
    margin-top: 20px;
    color: #555;
  }
}

.cont {
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    margin-bottom: 2%;
    width: 49%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    .img {
      img {
        width: 220px;
        margin-right: 15px;
      }
    }
    .ct {
      h4 {
        margin: 0;
        font-size: 16px;
      }
      .details {
        cursor: pointer;
        width: max-content;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
