.review {
  background-color: #f3f3f3;
  padding: 20px;
  .user {
    margin-right: 10px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }
    h4 {
      margin: 0;
      font-size: 14px;
    }
  }

  .cmnt {
    .tp {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      .main {
        p {
          margin: 0;
          font-weight: 600;
        }
      }
    }
    .text {
      font-size: 14px;
      font-weight: 500;
    }
    .time {
      align-items: flex-end;
    }
  }
}











/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .review {
    padding: 10px;
    flex-direction: column;
    margin-bottom: 5px;
    .user {
      margin-right: 0;
      margin-bottom: 15px;
      align-items: center;
      img {
        height: 30px;
        width: 30px;
      }
    }

    .cmnt {
      .tp {
        .main {
          p {
            font-size: 12px;
          }
        }
      }
      .text {
        font-size: 12px;
      }
      .time {
        align-items: flex-end;
        font-size: 12px;
      }
    }
  }
}
