<div class="review row" *ngFor="let i of [1,1,1,1]">
  <div class="user f1 row">
    <img src="/assets/images/demo/avatar2.webp" alt="">
    <h4>Jared Jones</h4>
  </div>
  <div class="cmnt f3 col">
    <div class="tp row">
      <small class="main"><p>This class exceeded my expectations!</p></small>
    </div>
    <p class="text">These were really great tips and it's really clear how applicable they are. I wish there was an entire video dedicated to applying all the tips and tricks together at the end, just before the conclusion.</p>
    <div class="row time"><div class="flex-grow"></div><small>Posted 6 hours ago</small></div>
  </div>
</div>
