.loading {
  background: rgb(11, 24, 61);
  background: radial-gradient(
    circle,
    rgba(221, 221, 221, 1) 0%,
    rgba(0, 82, 204, 1) 50%,
    rgba(221, 221, 221, 1) 100%,
    rgba(0, 82, 204, 1) 75%
  );
  height: 4px;
  z-index: 8000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
.hide {
  display: none;
}

.navbar {
  padding: 20px;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 5000;
  transition-duration: 0.3s;

  .wide {
    align-items: center;

    .brand {
      font-size: 26px;
      font-weight: 800;
    }
    .navs2 {
      display: none;
    }
    .navs {
      margin-left: 35px;
      align-items: center;

      .nav {
        margin-right: 15px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        span {
          color: #333;
          font-size: 15px;
          font-weight: 500;
        }
        .dropic {
          height: 10px;
          margin-left: 3px;
          margin-top: 2px;
        }

        .dropdown {
          position: absolute;
          top: 30px;
          left: 0;
          border: none;
          border-radius: 4px;
          box-shadow: 0px 2px 6px -4px #333;
          overflow: hidden;
          max-height: 0px;
          transition-duration: 0.3s;
          opacity: 0;
          visibility: hidden;
          margin-top: -10px;
          background-color: white;

          .content {
            padding: 20px 30px;
            border: 2px solid rgb(213, 219, 230);

            .item {
              padding: 10px;
              width: 250px;
              color: #333;
              &:hover {
                h4 {
                  color: #0052cc;
                }
              }

              img {
                height: 40px !important;
                max-width: 40px !important;
                margin-right: 10px;
              }
              .text {
                h4 {
                  margin: 0;
                  font-size: 16px;
                  font-weight: 600;
                  width: max-content;
                }
                p {
                  margin: 0;
                  font-size: 12px;
                }
              }
            }
          }
        }
        .showDrop {
          max-height: 600px !important;
          opacity: 1;
          margin-top: 0px;
          visibility: visible !important;
        }
      }
      .account {
        strong {
          margin-right: 5px;
        }
        .dropdown {
          .col {
            padding: 10px 20px;
            a {
              padding: 5px 0;
              margin-right: 20px;
              color: #222;
              &:hover {
                color: #0052cc;
              }
            }
            .logout {
              color: red;
              &:hover {
                color: red;
                text-shadow: 0px 0px 1px red;
              }
            }
          }
        }
      }

      .navbtn {
        margin-left: 15px;
        img {
          height: 24px;
          margin-top: 5px;
        }
      }
    }
  }
}
.shrink {
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  box-shadow: 0px 1px 10px -6px #444;
}

.footer {
  background-color: #0052cc;
  color: white;
  padding: 20px;
  .ctr {
    padding: 20px 0;
    .sec {
      align-items: center;
      .brand {
        font-size: 26px;
        font-weight: 600;
        color: white;
      }
      .n {
        color: white;
        margin-left: 20px;
        &:active {
          color: #ddd;
        }
      }
    }
  }
}
.sidemenu {
  display: none;
}

.search-ctr {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  z-index: 100000;
  background-color: rgba(4, 4, 4, 0.8);
  overflow: hidden;
  transition-duration: 0.3s !important;
  box-shadow: 0px 0px 40px 20px #333;

  .searchTab {
    background-color: #fafafa;
    width: 30vw;
    max-width: 800px;
    min-width: 340px;
    height: 100%;
    transition-duration: 0.4s;
    padding: 20px;
    overflow: hidden auto;
    opacity: 1;
    box-sizing: border-box;
    .close {
      cursor: pointer;
      height: 45px;
      width: 45px;
    }
    .inp {
      position: relative;
      margin-top: 20px;
      .search {
        border-radius: 50px;
        background: #ffffff;
        box-shadow: inset 0px 0px 13px #c9c9c9, inset 5px -5px 13px #ffffff;
        border: 1px solid #ccc;
        padding: 10px 50px 10px 20px;
        font-size: 18px;
        line-height: 30px;
        outline: none;
      }
      .spinner {
        position: absolute;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 10px;
      }
    }
    .noResults {
      width: 100%;
      flex-grow: 1;
      align-items: center;
      margin-top: 40px;
      padding-top: 40px;
      img {
        width: 50%;
      }
      .text {
        width: 70%;
        text-align: center;
        color: #444;
        margin-top: 20px;
      }
    }
    .result {
      margin-top: 40px;
      padding: 0 20px;
      box-sizing: border-box;
      overflow: hidden scroll;
    }
    .result::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.09);
      border-radius: 8px;
      background-color: #f5f5f5;
    }
    .result::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }
    .result::-webkit-scrollbar-thumb {
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: rgb(185, 185, 185);
    }
  }
}
.hideSearch {
  background-color: transparent;
  visibility: hidden;
  .searchTab {
    min-width: 0 !important;
    max-width: 0px !important;
    visibility: hidden;
    opacity: 0;
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .navs {
        margin-left: 30px;
        .nav {
          .dropdown {
            top: 35px;
            left: -80px;
            margin-top: -10px;
            .content {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .navs {
        margin-left: 30px;
        .nav {
          .dropdown {
            top: 35px;
            left: -80px;
            margin-top: -10px;
            .content {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
  .shrink {
    padding: 25px 0 !important;
  }
  .footer {
    padding: 0px;
  }

  .search-ctr {
    .searchTab {
      width: 100vw;
      max-width: 1200px;
      min-width: 340px;
      .result {
      }
    }
  }
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .brand {
        font-size: 26px;
      }
      .navs {
        display: none;
      }
      .navs2 {
        display: block;
        img {
          height: 30px;
        }
      }
    }
  }
  .shrink {
    padding: 15px 0 !important;
  }

  .sidemenu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: #fff;
    z-index: 9000;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -1px 0px 10px -5px #444;
    max-width: 2000px;
    transition-duration: 0.4s;
    .tp {
      align-items: center;
      a {
        font-size: 20px;
        font-weight: 800;
      }
      img {
        height: 50px;
      }
    }
    .menu {
      margin-top: 40px;
      a {
        color: #333;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .menu2 {
      border-top: 4px solid #0052cc;
      padding-top: 20px;
      margin-top: 10px;
      a {
        color: #0052cc;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .danger {
        color: red;
      }
    }
  }
  .shrinked {
    padding: 0;
    max-width: 0;
    visibility: hidden;
  }
  .footer {
    padding: 0;
    .ctr {
      padding: 20px 0;
      flex-direction: column !important;
      .sec {
        align-items: flex-start;
        flex-direction: column !important;
        .brand {
          margin-bottom: 15px;
        }
        .n {
          margin-left: 0;
          margin-bottom: 4px;
        }
      }
    }
  }

  .search-ctr {
    .searchTab {
      width: 100vw;
      max-width: 1200px;
      min-width: 340px;
      .result {
      }
    }
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .brand {
        font-size: 26px;
      }
      .navs {
        display: none;
      }
      .navs2 {
        display: block;
        img {
          height: 30px;
        }
      }
    }
  }
  .shrink {
    padding: 15px 0 !important;
  }

  .sidemenu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: #fff;
    z-index: 9000;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -1px 0px 10px -5px #444;
    max-width: 2000px;
    transition-duration: 0.4s;
    .tp {
      align-items: center;
      a {
        font-size: 20px;
        font-weight: 800;
      }
      img {
        height: 50px;
      }
    }
    .menu {
      margin-top: 40px;
      a {
        color: #333;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .menu2 {
      border-top: 4px solid #0052cc;
      padding-top: 20px;
      margin-top: 10px;
      a {
        color: #0052cc;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .danger {
        color: red;
      }
    }
  }
  .shrinked {
    padding: 5px;
    max-width: 0;
    visibility: hidden;
  }

  .footer {
    padding: 0;
    .ctr {
      padding: 20px 0;
      flex-direction: column !important;
      .sec {
        align-items: flex-start;
        flex-direction: column !important;
        .brand {
          margin-bottom: 15px;
        }
        .n {
          margin-left: 0;
          margin-bottom: 4px;
        }
      }
    }
  }

  .search-ctr {
    .searchTab {
      width: 100vw;
      max-width: 1200px;
      min-width: 340px;
      .result {
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 319.9px) {
  * {
    display: none;
  }
}
