<div class="container-main">
  <div class="loading hide" #loading></div>

  <!-- Search page -->
  <div class="search-ctr row" [class.hideSearch]="!searchPage">
    <div class="flex-grow" (click)="closeSearch()"></div>
    <div class="searchTab col">
      <div class="row">
        <div class="flex-grow"></div>
        <img
          src="/assets/icons/utility/close2.png"
          class="close"
          (click)="closeSearch()"
        />
      </div>
      <div class="col inp">
        <input
          #input
          type="text"
          class="search"
          spellcheck="false"
          placeholder="Search"
          maxlength="140"
        />
        <img
          *ngIf="searchSpinner"
          class="spin spinner"
          src="/assets/icons/utility/spinner-grey.png"
        />
      </div>
      <div class="col noResults" *ngIf="noResult">
        <img src="/assets/images/utility/search-img.svg" alt="" />
        <p class="text">Search for your favourite topic or instructor</p>
      </div>
      <div class="result col flex-grow" *ngIf="!noResult">
        <h3>Search is down.</h3>
        <p class="text">
          Our best minds are working to improve your search experience.
        </p>
      </div>
    </div>
  </div>

  <!-- side menu -->
  <div class="sidemenu col" [class.shrinked]="!sidemenu">
    <div class="row tp">
      <div class="col">
        <a routerLink="/" class="link blue">Teachup.io</a>
        <small *ngIf="user">{{ user.displayName }}</small>
      </div>
      <div class="flex-grow"></div>
      <img
        (click)="closeSideMenu()"
        src="/assets/icons/utility/close2.png"
        alt=""
      />
    </div>
    <div class="col menu">
      <a routerLink="/courses" (click)="closeSideMenu()" class="link"
        >Courses</a
      >
      <a routerLink="/about" (click)="closeSideMenu()" class="link">About Us</a>
      <a routerLink="/webinars" (click)="closeSideMenu()" class="link"
        >Webinars</a
      >
    </div>
    <div class="col menu2" *ngIf="!user">
      <a [routerLink]="['/auth']" (click)="closeSideMenu()" class="link"
        >Login</a
      >
      <a routerLink="/auth/signup" (click)="closeSideMenu()" class="link"
        >Sign up</a
      >
    </div>
    <div class="col menu2" *ngIf="user">
      <a routerLink="/user/courses" (click)="closeSideMenu()" class="link"
        >My Courses</a
      >
      <a routerLink="/user/cart" (click)="closeSideMenu()" class="link">Cart</a>
      <a routerLink="/user/wishlist" (click)="closeSideMenu()" class="link"
        >My Wishlist</a
      >
      <a routerLink="/user" (click)="closeSideMenu()" class="link"
        >Account Settings</a
      >
      <a
        routerLink="/instructor"
        class="link"
        (click)="closeSideMenu()"
        *ngIf="isInstructor"
        >Instructor Panel</a
      >
      <a class="link danger" (click)="logout2()">Logout</a>
    </div>
  </div>
  <!-- navbar -->
  <nav class="navbar" [class.shrink]="shrink">
    <div class="wide row">
      <a routerLink="/" class="brand blue">Teachup.io</a>
      <div class="navs row">
        <a class="nav" (click)="showdrop()" #dropmenu>
          <span>Courses</span>
          <img class="dropic" src="/assets/icons/utility/down.png" alt="" />
          <div
            class="dropdown"
            style="visibility: hidden"
            [class.showDrop]="dropdown"
          >
            <div class="content col">
              <div
                class="row"
                style="border-bottom: 2px solid #eee; margin-bottom: 5px"
              >
                <a routerLink="/courses" class="item link row">
                  <img src="/assets/icons/courses/all.png" alt="" />
                  <div class="text">
                    <h4>Explore All Courses</h4>
                    <p>Explore all our courses in various categories</p>
                  </div>
                </a>
              </div>
              <div class="row">
                <a
                  routerLink="/courses/category/5f7caa08-572d-4681-bbf2-cb297b8cddcd"
                  class="item link row"
                >
                  <img src="/assets/icons/courses/1.png" alt="" />
                  <div class="text">
                    <h4>Courses in Technology</h4>
                    <p>C++ | Java | Python | Javascript | Robotics</p>
                  </div>
                </a>
                <a
                  [routerLink]="[
                    '/courses',
                    'category',
                    '5752a740-7ec2-43ba-bc06-8a6af5f2196a'
                  ]"
                  class="item row link"
                >
                  <img src="/assets/icons/courses/3.png" alt="" />
                  <div class="text">
                    <h4>Courses in Management</h4>
                    <p>Business Management | Marketting</p>
                  </div>
                </a>
              </div>
              <div class="row">
                <a
                  [routerLink]="[
                    '/courses',
                    'category',
                    '2ac2e3c4-cf44-48e0-9990-db5acb6e8059'
                  ]"
                  class="item row link"
                >
                  <img src="/assets/icons/courses/art.png" alt="" />
                  <div class="text">
                    <h4>Courses in Art</h4>
                    <p>Cooking | Illustration | Fashion Design</p>
                  </div>
                </a>
                <a
                  [routerLink]="[
                    '/courses',
                    'category',
                    '9ae4ac7d-8c8c-490a-b7eb-17dc9ae2e7c1'
                  ]"
                  class="item row link"
                >
                  <img src="/assets/icons/courses/4.png" alt="" />
                  <div class="text">
                    <h4>Courses in finance</h4>
                    <p>
                      Financial Analysis | Capital Markets | Data visualization
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </a>

        <a routerLink="/about" class="nav">
          <span>About Us</span>
        </a>

        <a routerLink="/webinars" class="nav">
          <span>Webinars</span>
        </a>
      </div>

      <div class="flex-grow"></div>

      <div class="navs row">
        <a routerLink="/auth" class="nav" *ngIf="!user">
          <span>login</span>
        </a>
        <a
          class="nav account"
          *ngIf="user"
          (click)="showAccount()"
          #accountMenu
        >
          <span
            ><strong>{{ user.displayName }}</strong></span
          >
          <img class="dropic" src="/assets/icons/utility/down.png" alt="" />
          <div class="dropdown" [class.showDrop]="showAcc">
            <div class="col">
              <a routerLink="/user/courses" class="link">My Courses</a>
              <a routerLink="/user/wishlist" class="link">Wishlist</a>
              <a routerLink="/user/cart" class="link">My Cart</a>
              <a routerLink="/user" class="link">Account Settings</a>
              <a routerLink="/instructor" class="link" *ngIf="isInstructor"
                >Instructor Panel</a
              >
              <a routerLink="" class="link logout" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
        |
        <a routerLink="/user/cart" class="navbtn" *ngIf="user">
          <img src="/assets/icons/utility/cart.png" alt="" />
        </a>
        <a class="navbtn" (click)="openSearch()" style="cursor: pointer">
          <img src="/assets/icons/utility/search.png" />
        </a>
      </div>
      <div class="navs2 row">
        <div class="nav" (click)="openSideMenu()">
          <img src="/assets/icons/utility/menu.png" alt="" />
        </div>
      </div>
    </div>
  </nav>
  <div style="margin-top: 120px; min-height: 90vh" class="outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="wide row ctr">
      <div class="sec row">
        <a class="brand" [routerLink]="['/']">Teachup.io</a>
      </div>
      <div class="flex-grow"></div>
      <div class="sec row">
        <a [routerLink]="['/terms-and-conditions']" class="n"
          >Terms & Conditions</a
        >
        <a [routerLink]="['/privacy-policy']" class="n">Privacy Policy</a>
        <a [routerLink]="['/help']" class="n">Help</a>
      </div>
    </div>
  </div>
</div>
