.loading {
  background: rgb(11, 24, 61);
  background: radial-gradient(
    circle,
    rgba(221, 221, 221, 1) 0%,
    rgba(0, 82, 204, 1) 50%,
    rgba(221, 221, 221, 1) 100%,
    rgba(0, 82, 204, 1) 75%
  );
  height: 4px;
  z-index: 8000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
.hide {
  display: none;
}

.navbar {
  padding: 20px;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 5000;
  transition-duration: 0.3s;

  .wide {
    align-items: center;

    .brand {
      font-size: 26px;
      font-weight: 800;
    }
    .navs2 {
      display: none;
    }
    .navs {
      margin-left: 35px;
      align-items: center;

      .nav {
        margin-right: 15px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        span {
          color: #333;
          font-size: 15px;
          font-weight: 500;
        }
        .dropic {
          height: 10px;
          margin-left: 3px;
          margin-top: 2px;
        }

        .dropdown {
          position: absolute;
          top: 30px;
          left: 0;
          border: none;
          border-radius: 4px;
          box-shadow: 0px 2px 6px -4px #333;
          overflow: hidden;
          max-height: 0px;
          transition-duration: 0.3s;
          opacity: 0;
          visibility: hidden;
          margin-top: -10px;
          background-color: white;

          .content {
            padding: 20px 30px;
            border: 2px solid rgb(213, 219, 230);

            .item {
              padding: 10px;
              width: 250px;
              color: #333;
              &:hover {
                h4 {
                  color: #0052cc;
                }
              }

              img {
                height: 40px !important;
                max-width: 40px !important;
                margin-right: 10px;
              }
              .text {
                h4 {
                  margin: 0;
                  font-size: 16px;
                  font-weight: 600;
                  width: max-content;
                }
                p {
                  margin: 0;
                  font-size: 12px;
                }
              }
            }
          }
        }
        .showDrop {
          max-height: 600px !important;
          opacity: 1;
          margin-top: 0px;
          visibility: visible !important;
        }
      }
      .account {
        strong {
          margin-right: 5px;
        }
        .dropdown {
          .col {
            padding: 10px 20px;
            a {
              padding: 5px 0;
              margin-right: 20px;
              color: #222;
              &:hover {
                color: #0052cc;
              }
            }
            .logout {
              color: red;
              &:hover {
                color: red;
                text-shadow: 0px 0px 1px red;
              }
            }
          }
        }
      }

      .navbtn {
        margin-left: 15px;
        img {
          height: 24px;
          margin-top: 5px;
        }
      }
    }
  }
}
.shrink {
  padding: 2vh 20px !important;
  box-shadow: 0px 1px 10px -6px #444;
}

.footer {
  background-color: #0052cc;
  color: white;
  padding: 20px;
  .row {
    padding: 20px 0;

    .sec {
      h2 {
        margin: 0;
      }
    }
  }
}
.sidemenu {
  display: none;
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .navs {
        margin-left: 30px;
        .nav {
          .dropdown {
            top: 35px;
            left: -80px;
            margin-top: -10px;
            .content {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .navs {
        margin-left: 30px;
        .nav {
          .dropdown {
            top: 35px;
            left: -80px;
            margin-top: -10px;
            .content {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
  .shrink {
    padding: 25px 0 !important;
  }
  .footer {
    padding: 0px;
  }
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .brand {
        font-size: 26px;
      }
      .navs {
        display: none;
      }
      .navs2 {
        display: block;
        img {
          height: 30px;
        }
      }
    }
  }
  .shrink {
    padding: 15px 0 !important;
  }
  .footer {
    padding: 20px 0;
    .row {
      padding: 20px 0;

      .sec {
        h2 {
          margin: 0;
        }
      }
    }
  }

  .sidemenu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: #fff;
    z-index: 9000;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -1px 0px 10px -5px #444;
    max-width: 2000px;
    transition-duration: 0.4s;
    .tp {
      align-items: center;
      a {
        font-size: 20px;
        font-weight: 800;
      }
      img {
        height: 50px;
      }
    }
    .menu {
      margin-top: 40px;
      a {
        color: #333;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .menu2 {
      border-top: 4px solid #0052cc;
      padding-top: 20px;
      margin-top: 10px;
      a {
        color: #0052cc;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .danger {
        color: red;
      }
    }
  }
  .shrinked {
    padding: 0;
    max-width: 0;
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 20px 0;
    .wide {
      .brand {
        font-size: 26px;
      }
      .navs {
        display: none;
      }
      .navs2 {
        display: block;
        img {
          height: 30px;
        }
      }
    }
  }
  .shrink {
    padding: 15px 0 !important;
  }
  .footer {
    padding: 20px 0;
    .row {
      padding: 20px 0;

      .sec {
        h2 {
          margin: 0;
        }
      }
    }
  }

  .sidemenu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: #fff;
    z-index: 9000;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -1px 0px 10px -5px #444;
    max-width: 2000px;
    transition-duration: 0.4s;
    .tp {
      align-items: center;
      a {
        font-size: 20px;
        font-weight: 800;
      }
      img {
        height: 50px;
      }
    }
    .menu {
      margin-top: 40px;
      a {
        color: #333;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .menu2 {
      border-top: 4px solid #0052cc;
      padding-top: 20px;
      margin-top: 10px;
      a {
        color: #0052cc;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .danger {
        color: red;
      }
    }
  }
  .shrinked {
    padding: 0;
    max-width: 0;
  }
}
