<Form [formGroup]="secretForm" (ngSubmit)="submit()" class="formItem col">
  <strong class="blue">Name of the course.............</strong>
  <br />
  <strong for="" class="dark"
    >Please enter relevent details about the course for enrolled users. <br />
    (ex: How to join course, where to get all the details, method of
    communication, etc.)</strong
  >
  <br />
  <div class="quill">
    <quill-editor
      [styles]="editorStyle"
      formControlName="secret"
      trackChanges="all"
      [modules]="modules"
      placeholder="Share details about how to join the course for enrolled users."
    ></quill-editor>
  </div>
  <br /><br />
  <small class="danger" *ngIf="error">{{ error }}</small>
  <div class="row">
    <div class="flex-grow"></div>
    <button type="submit" class="btn blue-bg white">Update</button>
  </div>
</Form>
