<div class="wide">
  <div class="top row">
    <a href="/" class="brand link blue">Teachup.io</a>
  </div>
  <div class="text col">
    <strong>Register as Instructor</strong>
    <small>Note: Your profile will be sent for review.</small>
  </div>
  <div class="card col">
    <strong class="blue">Personal information</strong>
    <div class="bar blue-bg"></div>
    <form action="">
      <div class="row">
        <div class="formItem col">
          <label for="name">First name*</label>
          <input type="text">
        </div>
        <div class="formItem col">
          <label for="name">Last name*</label>
          <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="formItem col">
          <label for="name">Phone number*</label>
          <input type="text">
        </div>
        <div class="formItem col">
          <label for="name">Email address*</label>
          <input type="text">
        </div>
      </div>
      <br>
      <strong class="blue">Interests</strong>
      <div class="bar blue-bg"></div>
      <div class="row">
        <div class="formItem col">
          <label for="name">Areas of interest*</label>
          <input type="text">
        </div>
      </div>
      <br>
      <strong class="blue">Availability</strong>
      <div class="bar blue-bg"></div>
      <div class="row">
        <div class="formItem col">
          <label for="name">Maximum number of students*</label>
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="formItem col radio">
          <label for="days">Availability*</label>
          <div class="row">
            <input type="checkbox" name="Weekdays" id=""><span>Weekdays</span><div class="flex-grow"></div>
          </div>
          <div class="row">
            <input type="checkbox" name="Weekdays" id=""><span>Weekends</span><div class="flex-grow"></div>
          </div>
        </div>
        <div class="formItem col radio">
          <label for="days">Time*</label>
          <div class="row">
            <input type="checkbox" name="Weekdays" id=""><span>Morning (6 AM to 11AM)</span><div class="flex-grow"></div>
          </div>
          <div class="row">
            <input type="checkbox" name="Weekdays" id=""><span>Afternoon (11AM to 4PM)</span><div class="flex-grow"></div>
          </div>
          <div class="row">
            <input type="checkbox" name="Weekdays" id=""><span>Evening (4PM to 9PM)</span><div class="flex-grow"></div>
          </div>
        </div>
      </div>
      <strong class="blue">Additional information</strong>
      <div class="bar blue-bg"></div>
      <div class="col">
        <label for="info">Write something about yourself*</label>
        <textarea name="" id="" rows="8"></textarea>
      </div>
      <br><br>
      <strong class="blue">Social accounts</strong>
      <div class="bar blue-bg"></div>
      <div class="col">
        <div class="formItem col">
          <label for="name">Linkedin Profile</label>
          <input type="text">
        </div>
        <br>
        <div class="formItem col">
          <label for="name">Facebook Profile</label>
          <input type="text">
        </div>
        <br>
        <div class="formItem col">
          <label for="name">Twitter Profile</label>
          <input type="text">
        </div>
        <br>
        <div class="formItem col">
          <label for="name">Instagram Profile</label>
          <input type="text">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="flex-grow"></div>
        <button class="btn blue-bg">Submit for Review</button>
      </div>
    </form>
  </div>
</div>
