<div class="wide">
  <div class="top row">
    <div class="bar blue-bg"></div>
    <h2>Cart</h2>
  </div>
  <div class="loading row" *ngIf="loading">
    <img src="/assets/icons/utility/spinner.png" class="spin" alt="" />
  </div>
  <div class="notCourses col" *ngIf="cartData.length === 0 && !loading">
    <img src="/assets/images/user/cart2.png" alt="" />
    <strong>Your cart is empty, add items to cart to continue.</strong>
    <a href="/courses" class="link blue">Explore Courses</a>
  </div>
  <div class="cart row" *ngIf="cartData.length > 0 && !loading">
    <div class="l f5 col">
      <strong class="blue">{{ cartData.length }} Courses in cart</strong>
      <div class="courses col">
        <div class="course row" *ngFor="let i of cartData">
          <div class="image">
            <img [src]="i.image" />
          </div>
          <div class="flex-grow col content">
            <strong class="title">{{ i.title }}</strong>
            <small class="tm"> {{ i.startDate | date: "mediumDate" }}</small>
            <strong
              ><small class="blue price">Rs {{ i.price }}.00</small></strong
            >
          </div>
          <div class="options">
            <img
              src="/assets/icons/utility/delete.png"
              alt=""
              (click)="deleteItem(i.id)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="r f2 col">
      <strong class="blue head">Total:</strong>
      <strong class="off">{{ cartData.length }} Items</strong>
      <h2>Rs {{ price }}.00</h2>
      <div class="btn blue-bg white checkout" (click)="proceedToPaymentPage()">
        Checkout
      </div>
    </div>
  </div>
</div>
