.loading {
  align-items: center;
  justify-content: center;
}

.top {
  margin-bottom: 40px;
  .bar {
    width: 4px;
    margin-right: 15px;
  }
  h2 {
    margin: 0;
  }
}

.notCourses {
  align-items: center;
  padding: 50px 0;
  margin-bottom: 300px;
  strong {
    margin-top: 20px;
    color: #555;
  }
}


.cart {
  .l {
    margin-right: 30px;
    .courses {
      margin: 20px 0 60px 0;
      .course {
        padding: 10px;
        box-shadow: 0px 0px 4px -2px #444;
        margin-bottom: 5px;
        .image {
          margin-right: 10px;
          img {
            width: 170px;
          }
        }
        .content {
          .title {
            font-size: 14px;
            margin: 0;
            margin-right: 30px;
            cursor: pointer;
            &:hover {
              color: #0052cc;
            }
          }
        }
        .options {
          img {
            height: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .r {
    .head {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 32px;
      margin: 0;
    }
    .strike {
      text-decoration: line-through;
      color: #444;
    }
    .off {
      color: #444;
      margin-bottom: 20px;
    }
    .checkout {
      padding: 15px 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .coupons {
      .selector {
        margin-bottom: 20px;
        input {
          border-radius: 0px;
        }
        .btn {
          border-radius: 0px;
        }
      }
      .applied {
        padding: 7px;
        border: 1px solid #ddd;
        align-items: center;
        img {
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
