<div class="wide">
  <div class="top row">
    <div class="bar blue-bg"></div>
    <h2>Cart</h2>
  </div>
  <div class="loading row" *ngIf="loading">
    <img src="/assets/icons/utility/spinner.png" class="spin" alt="">
  </div>
  <div class="notCourses col" *ngIf="cartData.length === 0 && !loading">
    <img src="/assets/images/user/cart2.png" alt="">
    <strong>Your cart is empty, add items to cart to continue.</strong>
    <a href="/courses" class="link blue">Explore Courses</a>
  </div>
  <div class="cart row" *ngIf="cartData.length > 0 && !loading">
    <div class="l f5 col">
      <strong class="blue">{{cartData.length}} Courses in cart</strong>
      <div class="courses col">
        <div class="course row" *ngFor="let i of cartData">
          <div class="image">
            <img src="/assets/images/demo/course.png" alt="">
          </div>
          <div class="flex-grow col content">
            <strong class="title">{{i.name}} - Some text to fill space</strong>
            <small class="tm">By {{i.authorName}} &nbsp;|&nbsp; {{i.startDate}}</small>
            <strong><small class="blue price">Rs {{i.price}}</small></strong>
          </div>
          <div class="options">
            <img src="/assets/icons/utility/delete.png" alt="" (click)="deleteItem(i.id)">
          </div>
        </div>
      </div>
    </div>
    <div class="r f2 col">
      <strong class="blue head">Total:</strong>
      <h2>Rs 499.00</h2>
      <small class="strike">Rs 7280.00</small>
      <small class="off">40% off</small>
      <div class="btn blue-bg white checkout" (click)="proceedToPaymentPage()">Checkout</div>
      <div class="coupons col">
        <div class="row selector">
          <select name="coupons" id="cars" class="flex-grow">
            <option value="0">Select Coupon</option>
            <option value="1">40% OFF</option>
            <option value="saab">First Course</option>
            <option value="mercedes">Max 50% Off</option>
          </select>
          <div class="btn blue-bg white">apply</div>
        </div>
        <div class="row applied">
          <small class="flex-grow">40% Off is applied</small>
          <img src="/assets/icons/utility/close2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
