<div class="loading col" #loading *ngIf="loading">
  <img src="/assets/icons/utility/spinner.png" alt="" class="spin" />
  <p>Submitting</p>
</div>
<div class="ctr row">
  <div class="l f5 col">
    <h1 class="blue brand" routerLink="/">Teachup.io</h1>
    <h2>Join millions of developers online and enhance your skills</h2>
    <strong
      >Already have an account? <a href="/auth" class="link blue">Login</a>
    </strong>
    <a href="/" class="link blue"><strong>Continue to website</strong></a>
  </div>
  <div class="r f2 col">
    <strong class="blue">Sign up for your account</strong>
    <form [formGroup]="signupForm" class="col" (ngSubmit)="onSubmit()">
      <div class="f-item col">
        <label for="email">Email Address</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Your Email"
          formControlName="email"
        />
      </div>
      <div class="f-item col">
        <label for="pass">Password</label>
        <input
          type="password"
          name="pass"
          id="pass"
          placeholder="Your Password"
          formControlName="pass"
        />
      </div>
      <a href="/auth/forgot" class="link blue"
        ><small>Forgot password?</small></a
      >
      <button type="submit" class="btn blue-bg loginbtn">Sign Up</button>
      <small
        class="danger"
        *ngIf="
          submitted &&
          (SignupFormControl.email.errors?.required ||
            SignupFormControl.email.hasError('minlength') ||
            SignupFormControl.email.errors?.email)
        "
        >Enter a valid email address.</small
      >
      <small
        class="danger"
        *ngIf="
          submitted &&
          (SignupFormControl.pass.errors?.required ||
            SignupFormControl.pass.hasError('minlength'))
        "
        >Password must be 8 characters long</small
      >
      <small class="danger" *ngIf="error">{{ error }}</small>
    </form>
    <small class="or">OR</small>
    <button class="btn social row">
      <img
        src="/assets/images/auth/google.png"
        alt=""
        (click)="googleLogin()"
      />
      Continue with Google
    </button>
    <button class="btn social row" (click)="loginWithFacebook()">
      <img src="/assets/images/auth/fb.png" alt="" /> Login with Facebook
    </button>
    <a href="/auth" class="link register blue">Log in to your account</a>
  </div>
</div>
