<div class="col" *ngIf="data && enrolled !== 'null'">
  <div class="inf">
    <h2 class="blue">
      {{ data.title }}
    </h2>
    <strong
      ><small class="">By - {{ data.author.user.displayName }}</small></strong
    >
  </div>
  <div class="top row">
    <div class="itm col">
      <img src="/assets/icons/courses/level.png" alt="" />
      <small
        ><strong>{{ data.level }} Level</strong></small
      >
    </div>
    <div class="itm col">
      <h2 class="blue">{{ data.studentCount }}</h2>
      <small><strong>Learners</strong></small>
    </div>
    <div class="flex-grow"></div>
    <a (click)="takeThisCourse()" *ngIf="!enrolled" class="btn blue-bg"
      >Take this course</a
    >
    <a *ngIf="enrolled" class="btn blue-bg">View Course Details</a>
  </div>
  <div class="price col">
    <div class="row item">
      <img src="/assets/icons/utility/square.png" alt="" />
      <span style="color: #0052cc;">Rs {{ data.price }}.00</span>
    </div>
    <div class="row item">
      <img src="/assets/icons/utility/square.png" alt="" />
      <span style="color: #0053cc;"
        >Course starts - {{ data.startDate | date: "shortDate" }}</span
      >
    </div>
  </div>
  <div class="deta">
    <strong>{{ data.header }}</strong>
    <p>{{ data.description }}</p>
  </div>
  <div class="options row">
    <div
      class="option blue-ot row"
      (click)="addToCart()"
      style="width: 130px;"
      [class.disabled]="addedToCart"
      *ngIf="!enrolled"
    >
      <span *ngIf="!addedToCart && !addingToCart">Add to Cart</span
      ><span *ngIf="addedToCart">Added to Cart</span>
      <img
        *ngIf="addingToCart && !addedToCart"
        src="/assets/icons/utility/spinner.png"
        style="height: 20px; width: 20px;"
        class="spin"
        alt=""
      />
    </div>
    <div *ngIf="!enrolled" class="option blue-ot" (click)="takeThisCourse()">
      Continue to Pay
    </div>
    <div
      *ngIf="enrolled"
      class="option blue-ot"
      [routerLink]="['/user', 'courses', 'details', data.id]"
    >
      View Course Details
    </div>
    <!-- <div class="option blue-ot">Share</div> -->
  </div>

  <div class="instructor col">
    <div class="avatar row">
      <div class="l">
        <div
          class="img"
          [ngStyle]="{
            background: data.author.user.photoURL
              ? 'url(' + data.author.user.photoURL + ')'
              : '#eee'
          }"
        ></div>
      </div>
      <div class="r">
        <div class="row">
          <a
            routerLink="/profile/instructor/{{ data.author.id }}"
            class="link blue"
            ><strong>{{ data.author.user.displayName }}</strong></a
          >
          <div class="tag">Instructor</div>
        </div>
        <small class="about">{{ data.author.shortDescription }}</small>
        <div class="text col">{{ data.author.about }}</div>
      </div>
    </div>
  </div>
</div>
