<div class="col">
  <div class="inf">
    <h2 class="blue">Productivity Masterclass: Create a Custom System that Works</h2>
    <strong><small class="">By - Thomas Frank</small></strong>
  </div>
  <div class="top row">
    <div class="itm col">
      <img src="/assets/icons/courses/level.png" alt="">
      <small><strong>Beginner Level</strong></small>
    </div>
    <div class="itm col">
      <h2 class="blue">22974</h2>
      <small><strong>Learners</strong></small>
    </div>
    <div class="flex-grow"></div>
    <a routerLink="/payment" class="btn blue-bg">Take this course</a>
  </div>
  <div class="price col">
    <div class="row item">
      <img src="/assets/icons/utility/square.png" alt="">
      <span style="color: #444;">Rs 10,999.00</span>
    </div>
    <div class="row item">
      <img src="/assets/icons/utility/square.png" alt="">
      <span style="color: #0053cc;">Course starts - 10 Aug 2020</span>
    </div>
  </div>
  <div class="deta">
    <strong>New to DSLR cameras? Learn fundamentals for your best photos yet!</strong>
    <p>This introductory photography class is a smart, inspiring way to get up to speed quickly. Taught by photographer Justin Bridges, you'll learn how to manually balance shutter speed, aperture, and ISO to achieve perfect exposure, every time — and then hit the NYC streets to see it all in action.</p>
  </div>
  <div class="options row">
    <div class="option blue-ot" (click)="addToCart()">Add to Cart</div>
    <div class="option blue-ot">Save Course</div>
    <div class="option blue-ot">Share</div>
  </div>

  <div class="instructor col">
    <div class="avatar row">
      <div class="l">
        <div class="img" [style.backgroundImage]="'url('+ instructor.img +')'"></div>
      </div>
      <div class="r">
        <div class="row">
          <a routerLink="/profile/instructor/{{instructor.id}}" class="link blue"><strong>{{instructor.name}}</strong></a>
          <div class="tag">Instructor</div>
        </div>
        <small class="about">{{instructor.about}}</small>
        <div class="text col">
          I’m an author, YouTuber, and speaker who is passionate about helping students succeed. Most of my work today is done at College Info Geek – a site I created in 2010 in order to share my experiments in becoming a more effective student. Today, College Info Geek is one of the world’s largest and best-loved resources for students, and includes a blog, podcast, and a YouTube channel with over 1 million subscribers.
        </div>
      </div>
    </div>
  </div>
</div>
