.ctr {
  .l {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .r {
    padding: 10px 15px;
    h5 {
      margin: 0;
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}
