.ctr {
  text-decoration: none;
  cursor: pointer;
  display: flex !important;
  &:hover {
    background-color: #eee;
    h5 {
      color: #0052cc;
    }
  }
  .l {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .r {
    padding: 10px 15px;
    h5 {
      margin: 0;
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .ctr {
    flex-direction: column;
    .l {
      min-height: 150px;
    }
    .r {
      padding: 10px;
      h5 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
      small {
        font-size: 12px;
      }
    }
  }
}
