<div class="wide">
  <div class="row cat"><div class="bar blue-bg"></div> <h2>Dashboard</h2></div>
  <div class="info card row">
    <div class="image">
      <img class="photo" src="{{user.photoURL}}" alt="" *ngIf="user.photoURL && !uploading">
      <div class="add col" *ngIf="!user.photoURL && !uploading" (click)="fileInput.click()">
        <img src="/assets/icons/utility/plus.png" alt="">
        <input #fileInput type="file" style="display: none;" (change)="fileChangeEvent($event)">
        <small>Add Image</small>
      </div>
      <div class="uploading col" *ngIf="uploading">
        <img class="spin" src="/assets/icons/utility/spinner.png" alt="">
        <small>Uploading</small>
      </div>
    </div>
    <div class="cnt col">
      <h3 class="name blue">{{user.displayName}}</h3>
      <h4 class="email">{{user.email}}</h4>
      <div class="notVerified" *ngIf="!user.emailVerified">
        <p class="danger">Please verify your email address.</p>
        <p>Haven't received the verification email?</p>
        <div class="primary resend btn btn-outline" *ngIf="!mailSent" (click)="sendMail()">Resend Verification Email</div>
        <p class="primary" *ngIf="mailSent">Mail Sent</p>
      </div>
    </div>
  </div>
  <div class="card enrolled">
    <strong class="blue">Enrolled Courses</strong>
    <div class="slider">
      <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide col sha1">
          <div class="img"></div>
          <h4>Python crash course for beginners</h4>
          <small>By Amithabh Kanth</small><br>
          <strong class="blue"><small>Complete</small></strong>
        </div>
      </ngx-slick-carousel>
      <div class="arrow al" (click)="slickModal.slickPrev()"><img src="/assets/icons/courses/left.png" alt=""></div>
      <div class="arrow ar" (click)="slickModal.slickNext()"><img src="/assets/icons/courses/right.png" alt=""></div>
    </div>
  </div>

  <div class="card" *ngIf="!isInstructor">
    <a href="/auth/instructor" class="link blue"><strong>Sign up as Instructor</strong></a>
  </div>
  <div class="card success" *ngIf="!isInstructor">
    <strong>Instructor - Your application is under review</strong>
    <p>Please wait while we give you the access to your instructors profile.</p>
  </div>
  <div class="card fail" *ngIf="!isInstructor">
    <strong>We're sorry, Your application has been rejected.</strong>
    <p>Your application has been rejected. If you think it's an error, please feel free to contact us on support@teachup.io</p>
  </div>
  <div class="card" *ngIf="isInstructor">
    <a routerLink="/instructor" class="link blue"><strong>Continue to instructor panel</strong><img alt=""></a>
  </div>

  <div class="card coupons">
    <strong class="blue">My Coupons</strong>
    <div class="items row">
      <div class="item sha1 col" *ngFor="let i of [1]">
        <img src="/assets/images/coupon/40.png" alt="">
        <h2>40% OFF</h2>
        <small>Validity: July 2021</small>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="modal col" *ngIf="imageChangedEvent">
  <div class="content">
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <br>
  <div class="btn blue-bg white" (click)="upload()">Upload Image</div>
</div>
