<div class="wide">
  <div class="row cat"><div class="bar blue-bg"></div> <h2>Dashboard</h2></div>
  <div class="info card">
    <div class="image">
      <img class="photo" src="{{user.photoURL}}" alt="" *ngIf="user.photoURL">
      <div class="add col" *ngIf="!user.photoURL" (click)="fileInput.click()">
        <img src="/assets/icons/utility/plus.png" alt="">
        <input #fileInput type="file" style="display: none;" (change)="fileChangeEvent($event)">
        <small>Add Image</small>
      </div>
    </div>
    <h3 class="name blue">{{user.displayName}}</h3>
    <h4>{{user.email}}</h4>
    <small><strong>Learner Account</strong></small>
  </div>
  <div class="card enrolled" *ngIf="!static">
    <strong class="blue">Enrolled Courses</strong>
    <div class="slider">
      <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide col sha1">
          <div class="img"></div>
          <h4>Python crash course for beginners</h4>
          <small>By Amithabh Kanth</small><br>
          <strong class="blue"><small>Complete</small></strong>
        </div>
      </ngx-slick-carousel>
      <div class="arrow al" (click)="slickModal.slickPrev()"><img src="/assets/icons/courses/left.png" alt=""></div>
      <div class="arrow ar" (click)="slickModal.slickNext()"><img src="/assets/icons/courses/right.png" alt=""></div>
    </div>
  </div>

  <div class="card coupons">
    <strong class="blue">My Coupons</strong>
    <div class="items row">
      <div class="item sha1 col" *ngFor="let i of [1]">
        <img src="/assets/images/coupon/40.png" alt="">
        <h2>40% OFF</h2>
        <small>Validity: July 2021</small>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="modal col" *ngIf="imageChangedEvent">
  <div class="content">
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <br>
  <div class="btn blue-bg white" (click)="upload()">Upload Image</div>
</div>
