<h3>About this course</h3>

<div class="text">
  <p>Join DKNG designers Dan Kuhlken and Nathan Goldman for a 40-minute class revealing the Adobe Illustrator tricks of the trade they employ for a fast and efficient workflow.
  </p>
  <p>Drawing on specific components of their work with Star Wars, Back to the Future, and SXSW, as well as personal design projects, this class covers everything from simple keyboard shortcuts to more complex visuals like pattern strokes and vector halftones, all the way up to the new "Live Corners" feature in Illustrator CC.
  </p>
  <p>Whether you're just starting out with Illustrator or have been using the software for some time and just want to speed up your process, DKNG's 10 tips will unlock a better way to create, while keeping everything in vector form.
  </p>
  <p>Please note: the examples in this class are demonstrated on a Mac. If you're illustrating on a PC, download this handy cheat sheet with keyboard shortcut equivalents.
  </p>
</div>
