<div class="wide row">
  <div class="l f3 col">
    <h2 class="mn">Checkout</h2>
    <div class="details col">
      <h3 class="blue">Order Details</h3>
      <div class="items col">
        <div class="item row" *ngFor="let i of orderDetails">
          <div class="lft">
            <img src="/assets/images/demo/course.png" alt="">
          </div>
          <div class="ryt flex-grow">
            <h4 class="name">{{i.name}}</h4>
            <strong><small>{{i.authorName}} &nbsp;|&nbsp; {{i.startDate}}</small></strong>
            <br>
            <strong><small class="blue">Rs {{i.price}}</small></strong>
          </div>
          <div class="end col">
            <img src="/assets/icons/utility/close2.png" alt="" (click)="deleteItem(i.id)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r f2 col">
    <div class="card col">
      <h2>Order Summary</h2>
      <div class="prices col">
        <div class="price row">
          <div class="tx">Original price:</div>
          <div class="flex-grow"></div>
          <div class="amt">Rs 18,240</div>
        </div>
        <div class="price row">
          <div class="tx">Coupon discounts:</div>
          <div class="flex-grow"></div>
          <div class="amt">-Rs 17,240</div>
        </div>
      </div>
      <div class="total row">
        <strong>Total:</strong>
        <div class="flex-grow"></div>
        <strong>Rs 1000.00</strong>
      </div>
      <div class="btn blue-bg white" (click)="completePayment()">Complete Payment</div>
    </div>
    <div class="card">
      <h2 class="success">Order Successful</h2>
      <div class="prices col">
        <div class="price row">
          <div class="tx">Order Id:</div>
          <div class="flex-grow"></div>
          <div class="amt">12bdeh33</div>
        </div>
        <div class="price row">
          <div class="tx">Number of items:</div>
          <div class="flex-grow"></div>
          <div class="amt">1</div>
        </div>
        <div class="price row">
          <div class="tx">Ammount Paid:</div>
          <div class="flex-grow"></div>
          <div class="amt">Rs 17,240</div>
        </div>
      </div>
      <br>
      <a href=""><strong class="blue">Continue to courses</strong></a>
    </div>
  </div>
</div>
