<div class="wide row">
  <div class="l f3 col">
    <h2 class="mn">Checkout</h2>
    <div class="details col">
      <h3 class="blue">Order Details</h3>
      <div class="items col">
        <div class="item row" *ngFor="let i of [1,1,1]">
          <div class="lft">
            <img src="/assets/images/demo/course.png" alt="">
          </div>
          <div class="ryt">
            <h4 class="name">Productivity Masterclass: Create a Custom System that Works</h4>
            <strong><small>By John Doe &nbsp;|&nbsp; 22 June 2020</small></strong>
            <br>
            <strong><small class="blue">Rs 10,999.00</small></strong>
          </div>
          <div class="end col">
            <img src="/assets/icons/utility/close2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r f2 col">
    <div class="card col">
      <h2>Order Summary</h2>
      <div class="prices col">
        <div class="price row">
          <div class="tx">Original price:</div>
          <div class="flex-grow"></div>
          <div class="amt">Rs 18,240</div>
        </div>
        <div class="price row">
          <div class="tx">Coupon discounts:</div>
          <div class="flex-grow"></div>
          <div class="amt">-Rs 17,240</div>
        </div>
      </div>
      <div class="total row">
        <strong>Total:</strong>
        <div class="flex-grow"></div>
        <strong>Rs 1000.00</strong>
      </div>
      <div class="btn blue-bg white">Complete Payment</div>
    </div>
  </div>
</div>
