.l {
  margin-right: 20px;
  .mn {
    margin: 0;
  }
  .details {
    .items {
      .item {
        padding: 10px;
        margin-bottom: 8px;
        box-shadow: 0px 0px 4px -2px #333;
        .lft {
          margin-right: 10px;
          img {
            max-width: 160px;
            border: 1px solid #ddd;
          }
        }
        .ryt {
          .name {
            margin: 0;
            font-size: 14px;
          }
        }
        .end {
          margin-left: 10px;
          img {
            height: 20px;
            cursor: pointer;
            filter: grayscale(1);
            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

.r {
  .card {
    box-shadow: 0px 1px 6px -3px #333;
    padding: 20px 20px;
    position: sticky;
    top: 110px;
    background-color: white;
    h2 {
      margin: 0;
    }
    .prices {
      font-size: 14px;
      margin-top: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      .price {
        margin-bottom: 4px;
      }
    }
    .total {
      margin-top: 6px;
      font-size: 18px;
    }
    .btn {
      padding: 15px 20px;
      margin-top: 20px;
      text-align: center;
      font-weight: 600;
    }
  }
  .coupons {
    margin-top: 20px;
    .apply {
      align-items: center;
      margin-bottom: 20px;
      input {
        padding: 5px;
        flex-grow: 1;
        box-sizing: border-box;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #ddd;
        outline: none;
      }
      .btn {
        padding: 5px 10px;
        margin: 0;
        border-radius: 0;
        border: 1px solid #0052cc;
      }
    }
    .applied {
      margin: 20px 0;
      align-items: center;
      img {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }
  }
}

.inputError {
  box-shadow: 0 0 2px 1px crimson;
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .l {
    margin-right: 0;
    .details {
      margin-bottom: 20px;
      .items {
        .item {
          padding: 8px;
          .lft {
            img {
              width: 100px;
            }
          }
          .ryt {
            .name {
              font-size: 12px;
              line-height: 12px;
            }
            .author {
              font-size: 12px;
              line-height: 12px;
            }
            .price {
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }

  .r {
    .card {
      padding: 15px;
      position: static;
      margin-bottom: 20px;
    }
  }
}
