<div class="wide row main">
  <div class="l f3 col">
    <h2 class="mn">Checkout</h2>
    <div class="details col">
      <h3 class="blue">Order Details</h3>
      <div class="items col">
        <div class="item row" *ngFor="let i of orderDetails">
          <div class="lft">
            <img [src]="i.image" alt="" />
          </div>
          <div class="ryt flex-grow">
            <h4 class="name">{{ i.title }}</h4>
            <strong class="author"
              ><small> {{ i.startDate | date: "mediumDate" }}</small></strong
            >
            <br />
            <strong
              ><small class="blue price">Rs {{ i.price }}.00</small></strong
            >
          </div>
          <div class="end col">
            <!-- <img
              src="/assets/icons/utility/close2.png"
              alt=""
              (click)="deleteItem(i.id)"
            /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r f2 col">
    <div class="card col" *ngIf="!paymentSuccessful">
      <h2>Order Summary</h2>
      <div class="prices col">
        <div class="price row">
          <div class="tx">Original price:</div>
          <div class="flex-grow"></div>
          <div class="amt">Rs {{ price }}.00</div>
        </div>
        <div class="price row" *ngIf="appliedCoupon">
          <div class="tx">Coupon discounts:</div>
          <div class="flex-grow"></div>
          <div class="amt">
            -Rs
            {{
              couponResponse.order.totalAmount -
                couponResponse.order.paidAmount
            }}.00
          </div>
        </div>
      </div>
      <div class="total row">
        <strong>Total:</strong>
        <div class="flex-grow"></div>
        <strong
          >Rs <span *ngIf="!appliedCoupon">{{ price }}</span
          ><span *ngIf="appliedCoupon">{{
            couponResponse.order.paidAmount
          }}</span
          >.00</strong
        >
      </div>
      <div class="coupons col">
        <div class="row applied" *ngIf="appliedCoupon">
          <small class="flex-grow"
            >Coupon Applied - {{ appliedCoupon.code }}</small
          >
          <img
            src="/assets/icons/utility/close2.png"
            (click)="removeCoupon()"
            alt=""
          />
        </div>
        <div
          class="row applied"
          *ngIf="!appliedCoupon && couponSubmitted && !couponLoading"
        >
          <small class="danger">Coupon Invalid</small>
        </div>

        <form
          [formGroup]="couponForm"
          (ngSubmit)="couponSubmit()"
          class="row apply"
          *ngIf="!appliedCoupon"
        >
          <input
            type="text"
            formControlName="couponCode"
            placeholder="Apply Coupon"
            [class.inputError]="
              couponFormControl.couponCode.errors && couponSubmitted
            "
          />
          <button
            *ngIf="!couponLoading"
            type="submit"
            class="btn blue-bg white"
          >
            <span>apply</span>
          </button>
          <img
            class="spin"
            style="height: 20px; width: 20px; margin-left: 20px;"
            *ngIf="couponLoading"
            src="/assets/icons/utility/spinner.png"
            alt=""
          />
        </form>
      </div>
      <div class="btn blue-bg white" (click)="completePayment()">
        <span *ngIf="!paymentProcessing">Complete Payment</span>
        <img
          style="height: 20px; width: 20px;"
          class="spin"
          *ngIf="paymentProcessing"
          src="/assets/icons/utility/spinner-white.png"
          alt=""
        />
      </div>
    </div>
    <div class="card" *ngIf="paymentSuccessful">
      <h2 class="success">Order Successful</h2>
      <div class="prices col">
        <div class="price row">
          <div class="tx">Order Id:</div>
          <div class="flex-grow"></div>
          <div class="amt">{{ paymentData.id }}</div>
        </div>
        <div class="price row">
          <div class="tx">Number of items:</div>
          <div class="flex-grow"></div>
          <div class="amt">{{ paymentData.courses.length }}</div>
        </div>
        <div class="price row">
          <div class="tx">Ammount Paid:</div>
          <div class="flex-grow"></div>
          <div class="amt">Rs {{ paymentData.paidAmount }}.00</div>
        </div>
      </div>
      <br />
      <a routerLink="/user/courses"
        ><strong class="blue">Continue to courses</strong></a
      >
    </div>
  </div>
</div>
