.top {
  .info {
    padding: 20px;
    align-items: center;
    width: 280px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 40px;
    .profileImg {
      border-radius: 50%;
      height: 130px;
      width: 130px;
      min-height: 130px;
      min-width: 130px;
      background: #ddd;
      margin-bottom: 30px;
      border: 3px solid #eee;
      box-shadow: 0px 1px 6px -2px #666;
    }
    .name {
      margin: 0;
      text-align: center;
    }
    .about {
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
    .website {
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
    }
    .tags {
      margin-top: 20px;
      flex-wrap: wrap;
      user-select: none;
      .tag {
        font-size: 12px;
        padding: 2px 7px;
        background-color: #333;
        color: #00ff84;
        margin: 2px;
        border-radius: 4px;
      }
    }
    .count {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 5px;
      align-items: center;
      strong {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .social {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      img {
        height: 30px;
        margin: 3px;
        cursor: pointer;
      }
    }
  }

  .content {
    .card {
      background: rgb(240, 240, 245);
      box-shadow: 0px 1px 8px -4px #777;
      padding: 20px;
      margin-bottom: 20px;
      .head {
        font-weight: 500;
      }
    }
    .on {
      .text {
        font-size: 14px;
        margin: 5px 0 0 0;
      }
    }
    .to {
      .list {
        flex-wrap: wrap;
        margin-top: 20px;
        .item {
          width: 32.5%;
          margin-right: 0.83%;
          background-color: #fff;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .top {
    flex-direction: column;
    .info {
      padding: 0;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      .profileImg {
        height: 110px;
        width: 110px;
        min-height: 110px;
        min-width: 110px;
        margin-bottom: 20px;
      }
      .count {
        width: auto;
        padding: 0px;
        align-items: center;
        margin-top: 10px;
        strong {
          text-align: center;
        }
      }
      .social {
        padding: 0px;
        margin-bottom: 20px;
      }
    }

    .content {
      .to {
        .list {
          flex-wrap: wrap;
          margin-top: 20px;
          .item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .top {
    flex-direction: column;
    .info {
      padding: 0;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      .profileImg {
        height: 110px;
        width: 110px;
        min-height: 110px;
        min-width: 110px;
        margin-bottom: 20px;
      }
      .count {
        width: auto;
        padding: 0px;
        align-items: center;
        margin-top: 10px;
        strong {
          text-align: center;
        }
      }
      .social {
        padding: 0px;
        margin-bottom: 20px;
      }
    }

    .content {
      .to {
        .list {
          flex-wrap: wrap;
          margin-top: 20px;
          .item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
