<div class="col wide" style="padding-bottom: 30px;">
  <div class="top row" *ngIf="data">
    <div class="info col">
      <img class="profileImg" [src]="data.user.photoURL" alt="" />
      <h3 class="name blue">{{ data.user.displayName }}</h3>
      <p class="about">
        {{ data.intro }} <span *ngIf="data.intro === null">..</span>
      </p>
      <!-- <a href="" class="blue website">www.mywebsite.com</a> -->
      <div class="tags row">
        <div class="tag" *ngIf="data.approved">Verified</div>
      </div>
      <div class="count col">
        <!-- <strong>Students: Coming Soon</strong> -->
        <strong>Expertise - {{ data.areaOfExpertise }}</strong>
      </div>
      <div class="social row">
        <a
          href="{{ data.fbProfile }}"
          *ngIf="data.fbProfile !== null"
          target="_blank"
          target="_blank"
        >
          <img src="/assets/icons/social/fb.png" alt="" />
        </a>
        <a
          href="{{ data.instaProfile }}"
          *ngIf="data.instaProfile !== null"
          target="_blank"
        >
          <img src="/assets/icons/social/insta.png" alt="" />
        </a>
        <a
          href="{{ data.linkedinProfile }}"
          *ngIf="data.linkedinProfile !== null"
          target="_blank"
        >
          <img src="/assets/icons/social/linkedin.png" alt="" />
        </a>
        <a
          href="{{ data.twitterProfile }}"
          *ngIf="data.twitterProfile !== null"
          target="_blank"
        >
          <img src="/assets/icons/social/twitter.png" alt="" />
        </a>
      </div>
    </div>
    <div class="content f1 col">
      <div class="card on">
        <div class="head blue">About Me</div>
        <p class="text">{{ data.about }}</p>
      </div>
      <div class="card to">
        <div class="head blue">Courses</div>
        <div class="list row">
          <div class="item" *ngFor="let i of data.courses">
            <app-course [data]="i"></app-course>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
