.item {
  margin-bottom: 40px;
  .l {
    margin-right: 30px;
    img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }
  }
  .ct {
    .text {
      font-size: 14px;
      margin: 5px 0;
    }

    .btns {
      font-size: 14px;
      margin: 8px 0;
      strong {
        margin-right: 20px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .replies {
      background-color: #f4f4f4;
      margin-top: 10px;
      .reply {
        padding: 10px;
        .lft {
          margin-right: 10px;
          img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
          }
        }
      }
    }

    .inp {
      background-color: #f4f4f4;
      padding: 10px;
      .lm {
        margin-right: 10px;
        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }
      }
      .rm {
        textarea {
          padding: 5px 10px;
          border: 1px solid #ddd;
          border-radius: 3px;
          outline: none;
          margin-bottom: 10px;
          resize: vertical;
          &:focus {
            border: 1px solid #333 !important;
          }
        }
      }
    }
  }
}














/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .item {
    margin-bottom: 30px;
    .l {
      margin-right: 10px;
      img {
        height: 30px;
        width: 30px;
      }
    }
    .ct {
      .text {
        font-size: 12px;
      }
      .btns {
        font-size: 12px;
        margin: 6px 0;
      }

      .replies {
        margin-top: 8px;
        .reply {
          .lft {
            margin-right: 7px;
            img {
              height: 25px;
              width: 25px;
            }
          }
          .ryt {
            .nm {
              font-size: 12px;
            }
            .timing {
              font-size: 10px;
            }
          }
        }
      }

      .inp {
        .lm {
          margin-right: 7px;
          img {
            height: 25px;
            width: 25px;
          }
        }
        .rm {
          textarea {
            padding: 5px 7px;
            font-size: 12px;
          }
        }
      }
    }
  }

}
