<div class="col">
  <div class="item row" *ngFor="let i of [1,1]">
    <div class="l">
      <img src="/assets/images/demo/avatar2.webp" alt="">
    </div>
    <div class="ct col">
      <small><strong>John Doe</strong></small>
      <p class="text">I am new here. The instructor mentioned that there are worksheets in the "resource" section but where is the resource section? Thanks!</p>

      <div class="btns row">
        <small>6 hours ago</small>
      </div>

      <div class="replies col">
        <div class="reply row" *ngFor="let i of [1]">
          <div class="lft"><img src="/assets/images/demo/avatar2.webp" alt=""></div>
          <div class="ryt">
            <small class="nm"><strong>Sharon Lee</strong></small>
            <p class="text">As an American, it’s hard to understand Lauren, cause she speaks so fast! I am trying to see If I can slow her down.</p>
            <small class="timing">2 hours ago</small>
          </div>
        </div>
      </div>
      <div class="inp row">
        <div class="lm">
          <img src="/assets/images/demo/avatar2.webp" alt="">
        </div>
        <div class="rm col flex-grow">
          <textarea name="" id="" cols="30" rows="3" placeholder="Leave a reply..."></textarea>
          <div class="row">
            <div class="flex-grow"></div>
            <div class="btn blue-bg white">Post</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
