.categories {
  .items {
    flex-wrap: wrap;
    margin: 20px 0;
    .item {
      width: 24%;
      margin-right: 1%;
      cursor: pointer;
      padding: 10px 15px;
      align-items: center;
      box-sizing: border-box;
      margin-bottom: 15px;
      img {
        margin-right: 15px;
        height: 32px;
      }
      span {
        color: #444;
        font-size: 14px;
      }
    }
  }
}

.popular {
  margin: 40px 0;
  .items {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      width: 32%;
      margin-bottom: 20px;
    }
  }
  .static {
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
}














/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .categories {
    .items {
      .item {
        width: max-content;
        margin-right: 5px;
        border-radius: 4px;
        padding: 5px 9px;
        margin-bottom: 10px;
        img {
          margin-right: 10px;
          height: 24px;
        }
        span {
          color: #333;
          font-size: 12px;
        }
      }
    }
  }

  .popular {
    margin: 30px 0;
    .items {
      margin-top: 15px;
      .item {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
