<div class="ctr col">
  <div class="top row">
    <div class="image col">
      <img src="/assets/images/demo/avatar2.webp" alt="">
      <small class="btn">Change</small>
    </div>
    <div class="flex-grow"></div>
    <div class="btn blue-ot blue">Profile Preview</div>
  </div>
  <div class="form col">
    <div class="formItem col">
      <label for="" class="blue">Name</label>
      <input type="text" placeholder="Your name">
    </div>
    <div class="formItem col">
      <label for="" class="blue">About</label>
      <input type="text" placeholder="About yourself (80 characters max)">
    </div>
    <div class="formItem col">
      <label for="" class="blue">Short Description</label>
      <textarea name="" id="" cols="30" rows="10" placeholder="Write something about yourself in not more than 600 chars"></textarea>
    </div>
    <div class="btn blue-bg white">Update Profile</div>
  </div>
</div>
