<div class="col">
  <div class="top">
    <div class="wide col">
      <h1 class="name" *ngIf="courseData">{{ courseData.title }}</h1>
      <strong
        class="author blue"
        *ngIf="courseData"
        [routerLink]="['/profile', 'instructor', courseData.author.id]"
        >By - {{ courseData.author.user.displayName }}</strong
      >
    </div>
    <div class="wide row cif">
      <div class="f5 banner">
        <div class="image loading animated-background">
          <div
            *ngIf="courseData"
            class="img"
            [style.background]="'url(' + courseData.image + ')'"
          ></div>
        </div>
      </div>
      <div class="f2 col lessons">
        <div class="loading animated-background" *ngIf="!courseData"></div>
        <div class="col" *ngIf="courseData">
          <strong class="head"
            >{{ courseData.lessons.length }} Lessons |
            {{ courseData.totalTime }} Minutes</strong
          >
          <div class="xxcc col">
            <div class="items col">
              <div
                class="item row"
                *ngFor="let i of courseData.lessons; let x = index"
              >
                <div class="nm flex-grow row">
                  <div class="span">{{ x + 1 }}.</div>
                  {{ i.name }}
                </div>
                <div class="tm">
                  <small>{{ i.duration }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infz wide row">
    <div class="l col f1">
      <a
        [routerLink]="[item.url.toLowerCase()]"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="item blue"
        *ngFor="let item of menu"
      >
        {{ item.name }}
      </a>
    </div>
    <div class="content f3">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div
    class="cta wide row"
    style="margin-bottom: 20px !important"
    *ngIf="enrolled !== 0"
  >
    <div class="btn btn1 blue-bg" (click)="takeThisCourse()" *ngIf="!enrolled">
      Take this course
    </div>
    <div
      class="btn btn2 blue"
      (click)="addToCart()"
      [class.disabled]="addedToCart"
      *ngIf="!enrolled"
    >
      <span *ngIf="!addingToCart && !addedToCart">Add to Cart</span
      ><span *ngIf="addedToCart">Added to Cart</span>
      <img
        src="/assets/icons/utility/spinner-white.png"
        class="spin"
        style="height: 20px; width: 20px"
        alt=""
        *ngIf="addingToCart"
      />
    </div>
    <div
      class="btn btn1 highlightGreenBg dark"
      *ngIf="enrolled == true && courseData"
      [routerLink]="['/user', 'courses', 'details', courseData.id]"
    >
      View Course Details
    </div>
  </div>

  <!-- <div class="related wide col">
    <strong class="blue head">Related Courses</strong>
    <div class="items row">
      <div class="item sha1" *ngFor="let i of [1, 1, 1, 1]">
        <app-course></app-course>
      </div>
    </div>
  </div> -->
</div>

<div class="modal col" *ngIf="showPaymentModal">
  <div class="col ctr">
    <div class="row close">
      <div class="flex-grow"></div>
      <img
        src="/assets/icons/utility/close2.png"
        alt=""
        (click)="this.showPaymentModal = false"
      />
    </div>
    <strong
      >You have {{ cartData.length }} more item<span *ngIf="cartData.length > 1"
        >s</span
      >
      in your cart</strong
    >
    <div class="row btns">
      <div class="btn blue-bg white" (click)="proceedToPay()">
        Proceed To Pay
      </div>
      <div class="btn blue-ot blue" (click)="modalGoToCart()">
        Continue to Cart
      </div>
    </div>
  </div>
</div>
