<div class="col">
  <div class="top" *ngIf="courseData">
    <div class="wide col">
      <h1 class="name">{{courseData.title}}</h1>
      <strong class="author blue">{{courseData.author}} | {{courseData.authorStatus}}</strong>
    </div>
    <div class="wide row cif">
      <div class="f5 banner">
        <img src="/assets/images/demo/Untitled design.jpg" alt="">
      </div>
      <div class="f2 col lessons">
        <strong class="head">{{courseData.lessons.length}} Lessons | {{courseData.totalTime}}</strong>
        <div class="xxcc col">
          <div class="items col">
            <div class="item row" *ngFor="let i of courseData.lessons; let x = index">
              <div class="nm flex-grow row">
                <div class="span">{{x+1}}.</div> Lesson name and info
              </div>
              <div class="tm"><small>1 hr</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infz wide row">
    <div class="l col f1">
      <a
      [routerLink]="[item.url.toLowerCase()]"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{exact:true}"
      class="item blue"
      *ngFor="let item of menu">
        {{item.name}}
      </a>
    </div>
    <div class="content f3">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="cta wide row">
    <div class="btn btn1 blue-bg" (click)="takeThisCourse()">Take this course</div>
    <div class="btn btn2 blue" (click)="addToCart()">Add to Cart</div>
  </div>

  <div class="related wide col">
    <strong class="blue head">Related Courses</strong>
    <div class="items row">
      <div class="item sha1" *ngFor="let i of [1,1,1,1]"><app-course></app-course></div>
    </div>
  </div>
</div>

<div class="modal col" *ngIf="showPaymentModal">
  <div class="col ctr">
    <div class="row close">
      <div class="flex-grow"></div>
      <img src="/assets/icons/utility/close2.png" alt="" (click)="this.showPaymentModal = false">
    </div>
    <strong>You have {{cartData.length}} more item<span *ngIf="cartData.length > 1">s</span> in your cart</strong>
    <div class="row btns">
      <div class="btn blue-bg white" (click)="proceedToPay()">Proceed To Pay</div>
      <div class="btn blue-ot blue" (click)="modalGoToCart()">Continue to Cart</div>
    </div>
  </div>
</div>
