.top {
  padding: 60px 0;

  .l {
    justify-content: center;
    h1 {
      font-size: 40px;
      margin: 0;
      font-weight: 800;
    }
    h2 {
      font-size: 32px;
      margin: 0;
      font-weight: 600;
    }
  }
  .r {
    img {
      max-width: 100%;
    }
  }
}














/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .top {
    padding: 40px 0;
    flex-direction: column-reverse;
    .l {
      align-items: center;
      h2 {
        text-align: center;
        font-size: 28px;
      }
    }
    .r {
      margin-bottom: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}
