// colors
.blue {
  color: #0052cc;
}
.blue-bg {
  background-color: #0052cc;
}
.blue-ot {
  border: 1px solid #0053cc;
}
.success {
  color: rgb(19, 143, 66);
}
.danger {
  color: red;
}
.white {
  color: white;
}
.dark {
  color: #444;
}

// layout
.wide {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.f1 {
  flex: 1;
}
.f2 {
  flex: 2;
}
.f3 {
  flex: 3;
}
.f4 {
  flex: 4;
}
.f5 {
  flex: 5;
}
.f6 {
  flex: 6;
}

// components
.btn {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  &:hover {
    filter: brightness(90%);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 4, 4, 0.8);
  padding: 20px;
  .ctr {
    background-color: #f4f4f4;
    padding: 20px 30px;
    border-radius: 6px;
  }
}

//utility
.spin {
  animation: rotating 2s linear infinite;
  -webkit-animation: rotating 2s linear infinite;
  width: 50px;
  height: 50px;
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

// Ghost background
.animated-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
  background: fff;
  background: linear-gradient(to right, #ccc 8%, #bdbdbd 28%, #ccc 43%);
  -webkit-backface-visibility: hidden;
}
@keyframes loading {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 100em 0;
  }
}

// shadow
.sha1 {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  transition-duration: 0.3s;
  &:hover {
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
  }
}

//global fixes
a {
  text-decoration: none;
  width: max-content;
}

* {
  font-family: "Poppins", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .wide {
    margin: 0 auto !important;
    width: 1080px;
  }
}

/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .wide {
    margin: 0 20px !important;
    width: auto;
  }
}

/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .wide {
    margin: 0 20px !important;
    width: auto;
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .wide {
    margin: 0 20px;
    width: auto;
  }
}
